<div class="card__wrapper">
  <div class="card-description">
    <h3 class="card-description__title">{{ title }}</h3>
    <p class="card-description__content">{{ description }}</p>
  </div>
  <div class="card-info">
    <div class="card-info-group">
      <p class="card-info-group__item"><b>Authors:</b> {{ authors | join:', ' }}</p>
      <p class="card-info-group__item"><b>Duration:</b> {{ duration | duration }}</p>
      <p class="card-info-group__item"><b>Created:</b> {{ creationDate | date:'dd.MM.yyyy' }}</p>
    </div>
    <div class="card-info-buttons">
      <ng-content></ng-content>
    </div>
  </div>
</div>
