.card {
  &__wrapper {
    width: 80vw;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    border: solid 2px green;
  }

  &-description {
    flex: 2;
    margin-right: 20px;

    &__title {
      font-size: 30px;
      font-weight: 700;
      text-align: left;
    }

    &__content {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-group {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__item {
        font-size: 18px;
      }
    }
  }
}
